.top-row {
  margin-top: 15px;
  margin-bottom: 10px; }
  .top-row h3 {
    display: inline-block;
    line-height: 35px; }
  .top-row .btn {
    display: inline-block;
    margin-left: 20px; }

#tbl-mypromotions {
  margin-top: 30px; }
  #tbl-mypromotions thead tr {
    height: 50px;
    background-color: #303841;
    color: white; }
    #tbl-mypromotions thead tr th {
      font-weight: normal;
      vertical-align: middle;
      border: none;
      box-sizing: border-box; }
      #tbl-mypromotions thead tr th:first-child {
        padding-right: 20px;
        padding-left: 20px; }
  #tbl-mypromotions thead:last-child td {
    border-bottom: 1px solid #d6d7d9; }
  #tbl-mypromotions tbody tr:last-child td {
    border-bottom: 1px solid #d6d7d9; }
  #tbl-mypromotions tbody tr td:first-child {
    padding-right: 20px;
    padding-left: 20px; }

.font-12 {
  font-size: 12px; }

.select-group {
  margin-left: 15px; }

.container-full {
  padding: 0; }

.width-11 {
  width: 11%; }
.width-10 {
  width: 10%; }
.width-12 {
  width: 12%; }
.width-13 {
  width: 13%; }

.image-container {
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .image-container img {
    max-height: 100%; }

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding-top: 15px; }

p.product-title {
  font-weight: bold; }

.product-category {
  font-size: .9em;
  font-family: Kreon;
  color: #aaa;
  margin-bottom: 5px; }

.req-no {
  color: #333;
  text-decoration: none;
  cursor: default; }

.req-no-link {
  /*color: #00adb5;*/
  text-decoration: none!important;
  /*cursor: pointer;*/
   }

#used-vouchers {
  font-weight: bolder;
  font-size: 18px; }

.dis-price {
  font-weight: bold; }

.dis-percent {
  color: #ff5722; }

.btn-actions-container button {
  width: 100%; }

.pagination {
  border-radius: 0; }

.pagination > li > a, .pagination > li > span {
  background: none;
  border: none; }

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #fff;
  background-color: #00adb5;
  border-color: transparent; }

.pagination > li > a, .pagination > li > span {
  color: #ff5722; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #ff5722;
  border-color: transparent; }

#top-footer {
  margin-top: 150px; }

.can-sort {
  cursor: pointer; }

th > i {
  color: #00adb5; }

.panel-open, .panel-ext {
  background-color: #f0f0f0; }
  .panel-open td, .panel-ext td {
    border-top-color: transparent !important; }

.panel-lbl {
  font-family: Kreon;
  font-size: 18px; }

.grid {
  margin: 10px 30px; }

.grid-item {
  width: 25%;
  float: left;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.1); }
  .grid-item p {
    margin: 0; }
  .grid-item .reviewer_email {
    font-family: Kreon;
    font-size: 12px;
    color: #aaa; }
  .grid-item .request_date {
    font-size: 11px;
    margin-top: 5px; }
  .grid-item .review_link_lbl {
    font-size: 12px;
    margin-top: 15px; }
  .grid-item a {
    color: #00adb5;
    word-break: break-all; }

.grid-sizer {
  width: 25%; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-item--width2 {
  width: 400px; }

.label {
  padding: 6px;
  display: block;
  width: 100%;
  border-radius: 0;
  margin: 0 auto; }

.label-pending {
  background-color: #f1c40f; }

.label-in-verification {
  background-color: #06afb6;
  color: #fff; }

.label-approved {
  background-color: #36FF00;
  color: #000; }

.label-declined {
  background-color: #c0392b;
  color: #fff; }

.label-cancelled {
  background-color: #8e44ad;
  color: #EEE; }

.label-verified {
  background-color: #27ae60;
  color: #EEE; }

/*# sourceMappingURL=my-promotions-seller.css.map */
